@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Pacifico&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Fredoka One", cursive;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #ff5733;
}

.img_placeholder {
  background: url(./myphoto.jpg);
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.intro {
  color: white;
  font-family: "Pacifico", cursive;
  position: relative;
  text-align: center;
  margin-top: 20rem;
  font-size: 30px;
}
.particle {
  position: fixed;
  z-index: -1;
  margin-left: 20px;
}
.portfolio {
  text-align: center;
  font-size: 90px;
  color: white;
}
.sign {
  position: absolute;
  right: 100px;
  z-index: 1;
  font-size: 25px;
  color: white;
  font-family: "Pacifico", cursive;
}

.info {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: white;
  text-align: center;
}
.content {
  margin: auto;
  background:#0c2461;
  padding: 10px;
  width: fit-content;
  color: greenyellow;
  font-family: 'Indie Flower', cursive;
  opacity: 0.9;
}
.p1{
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: white;
  text-align: center;
  
}
.contact1{
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: white;
  text-align: center;
}
.information{
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: white;
  text-align: center;

}


